.outer{
	height: 600px;
	width: 250px;
	background-color: lightgray;
	padding: 12px;
	box-shadow: 1px 1px 0px lightgray;	
}

.btn-group{
	padding: 10px;
}

.btn-dark{
	height: 40px;
	width: 50px;

}

.btn-secondary,.btn-primary,.btn-danger{
	height: 2.5rem;
	width: 12rem;
	margin-left:10px ;
	margin-top: 10px;
}


.start{
	height: 30px;
	width: 70px;
	background-color: rgba(255,0,0,.8);
	margin-top: 10px;
	line-height: 30px;

}
.end{
	height: 30px;
	width: 70px;
	background-color: rgba(0,255,0,.6);
	line-height: 30px;
}

.tag{
	position: absolute;
	left: 100px;
	color: white;
}