.stairs{
		height: 80px;
		width: 80px;
		background: linear-gradient(white,black,white,black,white,black,white,black,white,black,white,black,white,black,white,black,white,black,white);
		transform: rotate(90deg);	
}

.stair{
		height: 105px;
		width: 80px;
		background: linear-gradient(white,black,white,black,white,black,white,black,white,black,white,black,white,black,white,black,white,black,white);
}



.small{
	    height: 30px;
		width: 100px;

}